<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleDisplayName</key>
	<string>Hatoko</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).HatokoApplication</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).HatokoInputController</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.chigichan24.inputmethod.Hatoko.Roman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.chigichan24.inputmethod.Hatoko.Roman</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>en.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>en.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>en.tiff</string>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>3</integer>
			</dict>
			<key>com.chigichan24.inputmethod.Hatoko.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.chigichan24.inputmethod.Hatoko.Japanese</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeInitialKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputMethodAlternateIconFileKey</key>
				<string>main.tiff</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>J</string>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
			<string>com.apple.inputmethod.Roman</string>
		</array>
	</dict>
</dict>
</plist>
